/* Layout */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
body {
  min-height: 100vh;
  background: #FFF url(../img/background.jpg) 50% no-repeat;
  background-size: cover;
  font: 14px 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

/* NAV*/
.nav {
  min-width: 500px;
  background: #074f8f url(../img/navbar-bg.png);
  margin-bottom: 25px;
}
.nav-menu {
  float: right;
  position: relative;
}
.nav-menu li {
  display: inline;

  line-height: 35px;
}
.nav-menu a {
  display: inline-block;
  padding: 0 10px;
  color: #60b5ed;
  line-height: 35px;
}
.nav-menu li:hover,
.nav-menu a:hover {
  color: white;
  background: #4eabda;
}
.nav-menu li:nth-child(5):after {
  content: "";
  position:absolute;
  right: 131px;
  top: 0;
  bottom: 0;
  margin: 2px 0;
  height: 31px;
  border-right:1px solid #489cd5;
}
.nav-menu__flag a {
  color: white;
}
.fa-flag:before {
    content: "\f024";
    color: white;
    padding-right: 10px;
}
.nav-menu__button {
    float: right;
    margin-right: 15px;
    height: 35px;
    background: linear-gradient(to bottom, #50aedb, #2e7ac4);
    padding: 10px 10px;
}
.nav-menu__button a {
    text-decoration: underline;
    color: white;
}
.nav-menu__button a:hover {
    text-decoration: underline;
    color:  #074985;
}

/* MAIN*/
.main {
    position: relative;
    min-width: 320px;
    height: 100%;
}
.wrapper {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main__title,
.main__data {
  max-width: 560px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.main__title {
  margin-bottom: 2px;
  padding: 20px 0;
  text-align: center;
}
.main__title h1 {
  font-weight: 600;
  font-size: 24px;
  color: white;
}
.main__data {
  padding: 35px 0 20px;
}
/* Facebook */
.fa-facebook-square:before {
    content: "\f082";
}
/* Separete OU */
.main__data-separator {
  text-align: center;
  margin: 35px 0;
}
.main__data-line {
  display: inline-block;
  width: 123px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
}
.main__data-ou {
  display: inline-block;
  padding: 0 5px;
  color: #999;
}
/* FORM */
.main__data-form,
.main__data p {
  text-align: center;
}
form input[type="text"],[type="email"],[type="password"] {
  width: 276px;
  line-height: 33px;
  height: 33px;
  border: 0;
  border-bottom: 1px solid gray;
  margin: 0 50px 16px;
  padding-left: 18px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-input-placeholder {
  color: #cccccc;
}
form input[type="text"]:hover,[type="email"]:hover,[type="password"]:hover {
  border-bottom: 1px solid #699bcd;
}
form input[type="text"]:focus,[type="email"]:focus,[type="password"]:focus {
  color: white;
  background-color: #1b5288;
  border-bottom: 1px solid #699bcd;
  box-shadow: 0 0 15px rgba(128,193,255,1), inset 0 0 25px rgba(0,0,0,.3);
  outline: none;
}
form input[type="text"]:focus::-webkit-input-placeholder,[type="email"]:focus::-webkit-input-placeholder,[type="password"]:focus::-webkit-input-placeholder {
  color: white;
}
form label {
  color: #cccccc;
  display: block;
  margin-left: -38px;
  line-height: 24px;
}
form input[type="checkbox"] {
  margin: -2px 3px 0 0;
  vertical-align: middle;
}
form input[type="checkbox"]:focus {
  color: white;
  background-color: #1b5288;
}
form button {
  margin: 18px 0;
  padding: 0 19px;
  color: white;
  line-height: 35px;
  background: linear-gradient(to bottom, #50aedb,#2e7ac4);
  border: 0;
  border-radius: 3px;
}
form button:focus {
  outline: none;
}
form button:hover {
  box-shadow: 0 0 15px rgba(128,193,255,.7);
}
form button:active {
  background: linear-gradient(to bottom, #2e7ac4, #50aedb);
}
.main__data p {
  color: #cccccc;
  font-size: 12px;
  margin-bottom: 6px;
}
.main__data p a{
  color: #cccccc;
  text-decoration: none;
}
.main__data p a:hover{
  text-decoration: underline;
}


